<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [149]:
# Import pandas for data manipulation and analysis
import pandas as pd

# Import numpy for numerical array operations
import numpy as np

# Import seaborn for statistical data visualization
import seaborn as sns

# Import pyplot from matplotlib for creating visualizations
import matplotlib.pyplot as plt

# Import train_test_split from scikit-learn for splitting datasets
from sklearn.model_selection import train_test_split

# Import accuracy_score from scikit-learn for accuracy calculation
from sklearn.metrics import accuracy_score

# Import classification_report from scikit-learn for classification metrics
from sklearn.metrics import classification_report

# Import re for working with regular expressions
import re

# Import string module for string manipulation operations
import string

In [150]:
data_fake = pd.read_csv('FND Datasets/Fake.csv') #importing fake news dataset
data_true = pd.read_csv('FND Datasets/True.csv') #importing true news dataset

In [151]:
data_fake.head() #reading the top 5 rows of the fake dataset

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [152]:
data_true.head() #reading the top 5 rows of the true dataset

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [153]:
# Add a new column called "class" to the data_fake dataframe
data_fake["class"] = 0
# Assign the value 0 to all rows in the "class" column of data_fake.
# This typically represents the "fake" class in binary classification.

# Add a new column called "class" to the data_true dataframe
data_true["class"] = 1
# Assign the value 1 to all rows in the "class" column of data_true.
# This typically represents the "true" class in binary classification.

In [154]:
# Retrieve the dimensions (number of rows and columns) of the data_fake and data_true dataframe
data_fake.shape, data_true.shape

((23481, 5), (21417, 5))

In [155]:
# Create a new dataframe "data_fake_manual_testing" with the last 10 rows of "data_fake"
# Loop to drop specific rows by index in the "data_fake" dataframe
data_fake_manual_testing = data_fake.tail(10)
for i in range(23480,23470,-1):
    data_fake.drop([i], axis = 0, inplace = True)

# Create a new dataframe "data_true_manual_testing" with the last 10 rows of "data_true"
# Loop to drop specific rows by index in the "data_fake" dataframe
data_true_manual_testing = data_true.tail(10)
for i in range(21416,21406,-1):
    data_true.drop([i], axis = 0, inplace = True)

In [156]:
#after 10 rows are deleted
data_fake.shape, data_true.shape

((23471, 5), (21407, 5))

In [157]:
# similar to above class column
data_fake_manual_testing['class'] = 0
data_true_manual_testing['class'] = 1

<ipython-input-157-efedc12a7546>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_fake_manual_testing['class'] = 0
<ipython-input-157-efedc12a7546>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_true_manual_testing['class'] = 1

In [158]:
# reading the top 10 rows of data_fake test file
data_fake_manual_testing.head(10)

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [159]:
# reading the top 10 rows of data_fake test file
data_true_manual_testing.head(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [160]:
# Concatenate two dataframes vertically (along axis 0) to merge them
data_merge = pd.concat([data_fake, data_true], axis = 0)

# Display the first 10 rows of the merged dataframe
data_merge.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [161]:
# This helps us see what columns are present in the merged data
data_merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [162]:
# Remove specific columns 'title', 'subject', and 'date' from the DataFrame 'data_merge'
# This operation creates a new DataFrame 'data' without these columns
data = data_merge.drop(['title', 'subject', 'date'], axis=1)

In [163]:
# The `.isnull()` method returns a DataFrame of boolean values indicating where the data is null.
# The `.sum()` method is then used to count the number of null values for each column.
data.isnull().sum()

text     0
class    0
dtype: int64

In [164]:
# Randomly shuffle the rows of the 'data' DataFrame
# The `.sample()` method is used to create a random sample of rows.
# Setting `frac=1` means we're sampling the entire DataFrame, effectively shuffling the rows.
data = data.sample(frac=1)

In [165]:
data.head()

                                                    text  class
14852  The Democrats tried to attach a gun control am...      0
456    This is why religion should stay out of govern...      0
2127   WASHINGTON (Reuters) - Senator Bob Corker, unl...      1
17362  DUBLIN (Reuters) - A woman has died in the sou...      1
11514  The cash flows through the State Department an...      0

In [166]:
# Reset the index of the 'data' DataFrame
# The `reset_index()` method resets the index of the DataFrame and adds a new default integer index.
data.reset_index(inplace=True)

# Drop the 'index' column from the 'data' DataFrame
# This column was added when resetting the index and is no longer needed.
data.drop(['index'], axis=1, inplace=True)

In [167]:
data.columns

Index(['text', 'class'], dtype='object')

In [168]:
import re
import string

# Define a function to perform text preprocessing
def wordopt(text):
    # Convert the text to lowercase
    text = text.lower()

    # Remove text enclosed in square brackets, typically used for references or citations
    text = re.sub('\[.*?\]', '', text)

    # Replace non-word characters with spaces
    text = re.sub("\\W", " ", text)

    # Remove URLs (links)
    text = re.sub('https?://\S+|www\.\S+', '', text)

    # Remove HTML tags
    text = re.sub('<.*?>', ' ', text)

    # Remove punctuation
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)

    # Remove newline characters
    text = re.sub('\n', ' ', text)

    # Remove words containing digits
    text = re.sub(r'\w*\d\w*', '', text)  # This line was missing the replacement parameter

    # You may want to return the processed text or perform further processing here
    return text

In [169]:
# This line modifies the 'text' column in 'data' by applying the wordopt function to each text entry in that column.
# After this line, the 'text' column will contain the preprocessed text data.
data['text'] = data['text'].apply(wordopt)

In [170]:
# Assign the 'text' column from the DataFrame 'data' to the variable 'x'
x = data['text']

# Assign the 'class' column from the DataFrame 'data' to the variable 'y'
y = data['class']

# After executing these lines, 'x' will contain the text data, and 'y' will contain the corresponding class labels.
# 'x' and 'y' can be used as input and target variables, respectively, for machine learning tasks.

In [171]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.25)

In [172]:
# Split the data into training and testing sets
# x is the input data, and y is the target labels (class labels)
# test_size specifies the proportion of the data to include in the test split (25% in this case)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

# After executing these lines, you will have:
# - x_train: the training input data
# - x_test: the testing input data
# - y_train: the training target labels
# - y_test: the testing target labels
# These sets can be used to train and evaluate machine learning models.

In [173]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a TfidfVectorizer object for text vectorization
vectorization = TfidfVectorizer()

# Fit and transform the training text data (x_train) into TF-IDF vectors
xv_train = vectorization.fit_transform(x_train)

# Transform the testing text data (x_test) into TF-IDF vectors using the same vectorizer
xv_test = vectorization.transform(x_test)

# After executing these lines, you will have:
# - xv_train: TF-IDF vectors representing the training text data
# - xv_test: TF-IDF vectors representing the testing text data
# These TF-IDF vectors can be used as input features for machine learning models.

In [174]:
from sklearn.linear_model import LogisticRegression

# Create a LogisticRegression model
LR = LogisticRegression()

# Train the model on the TF-IDF vectorized training data
LR.fit(xv_train, y_train)

# After executing these lines, 'LR' will be a trained logistic regression model
# that you can use for making predictions on new data.

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [175]:
# Use the trained LogisticRegression model (LR) to make predictions on the testing data (xv_test)
pred_lr = LR.predict(xv_test)

# After executing this line, 'pred_lr' will contain the predicted labels for the testing data.

In [176]:
# Calculate the accuracy of the LogisticRegression model (LR) on the testing data (xv_test) and true labels (y_test)
LR.score(xv_test, y_test)

0.9866310160427807

In [177]:
# Generate a classification report comparing the true labels (y_test) with predicted labels (pred_lr)
print(classification_report(y_test, pred_lr))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5918
           1       0.98      0.99      0.99      5302

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [178]:
from sklearn.tree import DecisionTreeClassifier

# Create a DecisionTreeClassifier model
DT = DecisionTreeClassifier()

# Train the model on the TF-IDF vectorized training data and target labels
DT.fit(xv_train, y_train)

# After executing these lines, 'DT' will be a trained decision tree classifier model.
# You can use this model for making predictions on new data.

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [179]:
# Use the trained DecisionTreeClassifier model (DT) to make predictions on the testing data (xv_test)
pred_dt = DT.predict(xv_test)

# After executing this line, 'pred_dt' will contain the predicted labels for the testing data.

In [180]:
# Calculate the accuracy of the DecisionTreeClassifier model (DT) on the testing data (xv_test) and true labels (y_test)
DT.score(xv_test, y_test)

0.996078431372549

In [181]:
# Generate a classification report comparing the true labels (y_test) with predicted labels (pred_dt)
print(classification_report(y_test, pred_dt))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5918
           1       1.00      1.00      1.00      5302

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [182]:
from sklearn.ensemble import GradientBoostingClassifier

# Create a GradientBoostingClassifier model with a specified random seed for reproducibility
GB = GradientBoostingClassifier(random_state=0)

# Train the model on the TF-IDF vectorized training data and target labels
GB.fit(xv_train, y_train)

# After executing these lines, 'GB' will be a trained gradient boosting classifier model.
# You can use this model for making predictions on new data.

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [183]:
# Use the trained GradientBoostingClassifier model (GB) to make predictions on the testing data (xv_test)
pred_gb = GB.predict(xv_test)

# After executing this line, 'pred_gb' will contain the predicted labels for the testing data.

In [184]:
# Calculate the accuracy of the GradientBoostingClassifier model (DT) on the testing data (xv_test) and true labels (y_test)
GB.score(xv_test, y_test)

0.9949197860962566

In [185]:
# Generate a classification report comparing the true labels (y_test) with predicted labels (pred_dt)
print(classification_report(y_test, pred_gb))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5918
           1       0.99      1.00      0.99      5302

    accuracy                           0.99     11220
   macro avg       0.99      1.00      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [186]:
from sklearn.ensemble import RandomForestClassifier

# Create a RandomForestClassifier model with a specified random seed for reproducibility
RF = RandomForestClassifier(random_state=0)

# Train the model on the TF-IDF vectorized training data and target labels
RF.fit(xv_train, y_train)

# After executing these lines, 'RF' will be a trained random forest classifier model.
# You can use this model for making predictions on new data.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [187]:
# Use the trained RandomForestClassifier model (RF) to make predictions on the testing data (xv_test)
pred_rf = RF.predict(xv_test)

# After executing this line, 'pred_rf' will contain the predicted labels for the testing data.

In [188]:
# Calculate the accuracy of the GradientBoostingClassifier model (DT) on the testing data (xv_test) and true labels (y_test)
RF.score(xv_test, y_test)

0.9872549019607844

In [189]:
# Generate a classification report comparing the true labels (y_test) with predicted labels (pred_dt)
print(classification_report(y_test, pred_rf))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5918
           1       0.99      0.99      0.99      5302

    accuracy                           0.99     11220
   macro avg       0.99      0.99      0.99     11220
weighted avg       0.99      0.99      0.99     11220

In [190]:
# Define a function to map numerical labels to text labels
def output_label(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"

In [191]:
# Define a function for manual testing of news articles
def manual_testing(news):
    # Create a dictionary containing the provided news text
    testing_news = {"text": [news]}
    # Create a DataFrame from the testing_news dictionary
    new_def_test = pd.DataFrame(testing_news)
    # Preprocess the news text using the wordopt function
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    # Extract the preprocessed text
    new_x_test = new_def_test["text"]
    # Transform the preprocessed text into TF-IDF vectors
    new_xv_test = vectorization.transform(new_x_test)
    # Use the trained models to make predictions on the preprocessed text
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GB = GB.predict(new_xv_test)
    pred_RF = RF.predict(new_xv_test)
    # Print the predictions
    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {}".format(
        output_label(pred_LR[0]),
        output_label(pred_DT[0]),
        output_label(pred_GB[0]),
        output_label(pred_RF[0])
    ))

# You can use this function to manually test news articles and get predictions from your models.

In [196]:
# Get user input for the news article
news = str(input("Enter the news article: "))

# Call the manual_testing function to get predictions
manual_testing(news)

Enter the news article: WASHINGTON (Reuters) - Democrats have a rare chance to win major concessions in a U.S. Congress they do not control by taking advantage of a battle within the Republican Party over keeping the government open.  With a Friday deadline looming when most funding for federal agencies runs out, Democrats finally have some clout. But their power is strongest while the Republicans in Congress remain fractured and fighting.  The showdown with Republicans could come to a head on Thursday when Democrats are expected to press their demands to President Donald Trump at a White House meeting. For Trump, the complex, and very public, battle over the shutdown will also be a demonstration of his ability to deliver on a central 2016 campaign promise of adding billions of dollars to the U.S. military budget. That issue is at the core of Republicansâ€™ behind-the-scenes negotiations with Democrats. Most Republicans want a defense buildup. But many also want to limit government spending. While many Democrats also support bolstering defense, they insist on raising spending on non-defense programs too.  Democratsâ€™ top two demands include passage of legislation that has eluded them for 16 years: protecting from deportation nearly 700,000 young people known as â€œDreamers,â€ whose parents brought them illegally to the United States as children. The Democrats also want to shore up Obamacare by reversing Trumpâ€™s decision to stop monthly subsidy payments to insurance companies offering healthcare policies to lower-income people. Democrats will enter the White House meeting knowing their support is crucial to Senate Republicans passing any spending bills. Republicans control the chamber by 52-48, but need 60 vote for passage of most spending measures. While a partial government shutdown would keep emergency services and the military mainly operating, thousands of operations would be suspended, such as the operation of national parks. Republicans have clear control of the House of Representatives. But a core of conservative Republicans who consistently vote against funding bills in their drive for smaller government could balk. Democrats have a history of strongly supporting stopgap funding bills, providing the cushion for victory in the Republican House. Conservative Republicans said on Tuesday they would try to pass temporary spending bills without House Democratsâ€™ support. If so, it is unclear whether such a bill could clear the Senate, where Democratic votes are necessary to pass most bills.   There is another wild card for both parties in Thursdayâ€™s meeting: Trump. Democrats will test the unpredictable president to see whether he is willing to go the bipartisan route in order to keep federal agencies running smoothly or whether he will be in a confrontational mood. In May, angry he did not win money to build his promised wall along the border with Mexico, Trump said the United States needed a â€œgood shutdownâ€ to force his agenda on Congress. Just last week, he wrote on Twitter about the spending bills: â€œI donâ€™t see a deal.â€ Democrats are counting on the bipartisan Trump showing up, betting that he and fellow Republicans in Congress do not want to leave the immigration legislation, popularly known as the Dreamers Act, to fester until a March deadline, so close to the 2018 congressional election season. Chuck Schumer, Senate minority leader, and Nancy Pelosi, House minority leader, are calculating that votersâ€™ wrath would rain down on Republicans if the government lights go out. Republicans would blame Democrats. At a news conference last Thursday, House Speaker Paul Ryan said that if Democrats vote against the temporary spending bill because they have not won their demands, â€œthen they will have chosen to shut the government down.â€ Republicans already are trying to exploit possible differences among Democrats over whether to link support for the stopgap spending bill to the immigration measure. Democratic Senator Dianne Feinstein said she expected Democrats to vote for the government funding bill this week, telling Reuters in an interview that while it â€œis important to all of usâ€ to take care of the Dreamers, â€œI donâ€™t think we should shut the government down.â€ Senator Dick Durbin, the chamberâ€™s No. 2 Democrat, told the Washington Post last week he would oppose any spending bill if Congress had not first taken care of the Dreamers. On Tuesday, Schumer noted there were â€œgood negotiationsâ€ under way on the immigration measure. This weekâ€™s vote to keep the government operating on temporary funding is likely to be the first of a three-step process that could stretch to Jan. 31. A second step would be another short-term funding bill, followed by one to fund the government through the fiscal year ending Sept. 30.


LR Prediction: Not A Fake News
DT Prediction: Not A Fake News
GBC Prediction: Not A Fake News
RFC Prediction: Not A Fake News

In [197]:
# Get user input for the news article
news = str(input("Enter the news article: "))

# Call the manual_testing function to get predictions
manual_testing(news)

Enter the news article:  This Old Mike Pence Tweet Sure Is Uncomfortable Now That The G In MAGA Means Grope


LR Prediction: Fake News
DT Prediction: Fake News
GBC Prediction: Fake News
RFC Prediction: Fake News